{#
/**
 * @file on_page_help.html.twig
 * Default theme implementation to present On-page Help entity data.
 *
 * This template is used when viewing On-page Help entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_on_page_help()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('on-page-help-content') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
