{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
    'on-page-help-block',
] %}
<div{{ attributes.addClass(classes) }}>
  {% if content %}
    {{- content -}}
  {% elseif new_oph_link %}
    {{ 'Placeholder for on page help, only visible to on page help editors.'|t }} <br/>
    <div class="on-page-help-link">
      {{ new_oph_link }}
    </div>
  {% endif %}
</div>
